body {
    margin: 0;
    padding: 0;
    height: 100vh;

    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
        url('C:\Users\hi\Desktop\websys3\image\bg.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    color: white;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #c97b7b;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

